@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local(''),
    url('../fonts/open-sans-v34-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/open-sans-v34-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local(''),
    url('../fonts/open-sans-v34-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/open-sans-v34-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local(''),
    url('../fonts/open-sans-v34-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/open-sans-v34-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    src: local(''),
    url('../fonts/open-sans-v34-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/open-sans-v34-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 800;
    src: local(''),
    url('../fonts/open-sans-v34-latin-800italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/open-sans-v34-latin-800italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

.root {
    scroll-behavior: smooth;
}

body {
    min-width: 350px;
}

button {
    cursor: pointer;
}

/*Page*/
.page {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

.page__inner {
    display: block;
    width: 100%;
    box-sizing: border-box;
}

.page__inner_intro {
    padding: 0 1vw;
    padding-top: 29px;
}

.page__inner_grey {
    background-color: #f6f2f2;
}

.page__inner_dark {
    background-color: #2c2c2c;
}

.page__inner_section {
    padding: 0 1vw;
    padding-top: 102px;
    padding-bottom: 110px;
}

.page__header {
    margin: 0 auto;
}

.page__inner_subcribe {
    padding: 0 1vw;
}

.page__inner_footer {
    padding: 0 1vw;
}

/*Header*/
.header {
    display: flex;
    justify-content: center;
    max-width: 1249px;
    min-height: 89px;
    background-color: rgba(0, 0, 0, 0.8);
}

.site-menu {
    margin-left: -30px; /* Сдвиг меню влево */
}

@media screen and (max-width: 600px) {
    .site-menu {
        margin-left: initial;
    }
}

.site-menu__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

@media screen and (max-width: 600px) {
    .site-menu__list {
        justify-content: center;
    }
}

.site-menu__item {
    display: flex;
    min-height: 89px;
}

.site-menu__link {
    display: flex;
    align-items: center;
    padding: 0 30px;
    font-family: 'Open Sans';
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    color: #e0e0e0;
}

.site-menu__link:hover {
    background-color: #ff3f40;
}

.site-menu__link_active {
    background-color: #ff3f40;
}

@media screen and (max-width:800px) {
    .site-menu {
        display: none;
    }
}

/*Popup-menu*/
.popup-menu {
    position: relative;
}

.popup-menu__button {
    display: block;
    width: 300px;
    height: 69px;
    background-image: url(../img/popup-menu__image.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border: none;
    margin-top: 10px;
    border-radius: 5px;
}

.popup-menu__list {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 100%);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
}

.popup-menu__item {
    display: flex;
    min-height: 89px;
}

.popup-menu__link {
    display: flex;
    align-items: center;
    padding: 0 30px;
    font-family: 'Open Sans';
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    color: #e0e0e0;
}

.popup-menu__link:hover {
    background-color: #ff3f40;
}

.popup-menu__link_active {
    background-color: #ff3f40;
}

@media screen and (min-width:800px) {
    .popup-menu {
        display: none;
    }
}

/*Main*/
/*Intro*/
.intro {
    display: flex;
    flex-wrap: wrap;
    max-width: 1249px;
    margin: 0 auto;
    justify-content: space-between;
}

@media screen and (min-width: 800px) and (max-width: 1248px) {
    .intro {
        flex-wrap: nowrap;
    }
}

.intro__info {
    max-width: 595px;
    margin-right: 2vw;
}

@media screen and (max-width: 1248px) {
    .intro__info {
        width: 50%;
        margin-right: initial;
    }
}

@media screen and (max-width: 800px) {
    .intro__info {
        width: 100%;
        margin-bottom: 80px;
    }
}

.intro__heading {
    font-family: 'Open Sans';
    font-size: 60px;
    line-height: 1.2;
    font-weight: 800;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 19px;
    margin-top: -15px;
}

.intro__span_special {
    letter-spacing: 6px;
    overflow-wrap: break-word;
}

.intro__text {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    margin: 0;
    margin-bottom: 58px;
}

.action-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 227px;
    padding: 0.5em 1em;
    box-sizing: border-box;
    min-height: 55px;
    font-family: 'Open Sans';
    font-size: 18px;
    line-height: 34px;
    font-weight: 700;
    border-radius: 5px;
    text-decoration: none;
}

.action-link_red-full {
    color: #fff;
    background-color: #FF2D2D;
}

.action-link_red-transp {
    color: #FF2D2D;
    background-color: rgba(0, 0, 0, 0.0001);
    border: 2px solid #FF2D2D;
}

.intro__video {
    max-width: 551px;
    height: 356px;
    object-fit: cover;
    box-shadow: -2.2px -13.8px 73px rgba(0, 0, 0, 0.29);
}

@media screen and (min-width: 800px) and (max-width: 1248px) {
    .intro__video {
        width: 50%;
        margin-right: initial;
    }
    .intro__span_special {
        hyphens: auto;
    } 
}

@media screen and (max-width: 800px) {
    .intro {
        justify-content: center;
    }

    .intro__heading {
        text-align: center;
    }

    .intro__text {
        text-align: center;
    }

    .intro__video {
        width: 100%;
        margin-bottom: 80px;
    }
    .intro__span_special {
        hyphens: auto;
    } 
}

/*Services */
.services {
    display: flex;
    flex-wrap: wrap;
    max-width: 1249px;
    margin: 0 auto;
    padding: 0 1vw;
    padding-top: 107px;
    padding-bottom: 90px;
    border-bottom: 2px solid #ececec;
    justify-content: space-between;
}

.services__info {
    max-width: 539px;
}

.services__heading {
    margin: 0;
    margin-bottom: 50px;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 42px;
    line-height: 55px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
}

.services__about {
    margin: 0;
    margin-bottom: 64px;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
}

.services__items {
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
    gap: 13px;
    width: 610px;
}

.services__item {
    width: 285px;
    margin-bottom: 53px;
}

.services__item_icon_mang::before {
    content: '';
    display: block;
    width: 41px;
    height: 41px;
    background-image: url(../img/Services__item_man.svg);
    background-repeat: no-repeat;
    margin-bottom: 33px;
}

.services__item_icon_UI::before {
    content: '';
    display: block;
    width: 41px;
    height: 41px;
    background-image: url(../img/Services__item_UI.svg);
    background-repeat: no-repeat;
    margin-bottom: 33px;
}

.services__item_icon_logo::before {
    content: '';
    display: block;
    width: 41px;
    height: 41px;
    background-image: url(../img/Services__item_logo.svg);
    background-repeat: no-repeat;
    margin-bottom: 33px;
}

.services__item_icon_anim::before {
    content: '';
    display: block;
    width: 41px;
    height: 41px;
    background-image: url(../img/Services__item_anim.svg);
    background-repeat: no-repeat;
    margin-bottom: 33px;
}

.service__title {
    margin: 0;
    margin-bottom: 13px;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 24px;
    line-height: 1.2;
}

.service__text {
    font-family: 'Open Sans';
    font-size: 16px;
    line-height: 28px;
}

@media screen and (min-width: 350px) and (max-width: 1248px) {
    .services {
        justify-content: center;
    }
    .services__heading {
        text-align: center;
    }

    .services__about {
        text-align: center;
    }
    .services__items {
        justify-content: center;
        margin-top: 1em;
    }
}

/* Features */
.feature {
    max-width: 1249px;
    margin: 0 auto;
    padding: 0 1vw;
    padding-top: 105px;
    padding-bottom: 65px;
}

.feature__header {
    margin-bottom: 88px;
}

.feature__heading {
    margin: 0;
    margin-bottom: 28.5px;
    font-family: 'Open Sans';
    font-size: 42px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 1);
    text-align: center;
}
.feature__about {
    max-width: 537px;
    margin: 0 auto;
    margin-bottom: 34.5px;
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: rgba(0, 0, 0, 1);
    text-align: center;
}
.hor-line {
    width: 130px;
    height: 2px;
    background-color: #FF2D2D;
    border: none;
}

.hor-line_center {
    margin: 0 auto;
}
.hor-line_left {
    margin: 0 0vw;
    grid-column: 2 / 3;
}

.filter {
    display: flex;
    justify-content: center;
    margin-bottom: 58px;
}

.filter__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 55px;
    
}

.filter__link {
    font-family: 'Open Sans';
    font-size: 22px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0.22px;
    text-decoration: none;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 1);
}

.filter__link_active {
    color: #FF2D2D;
}

.filter__link:hover {
    color: #FF2D2D;
}

.feature__products {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.feature__product {
    width: 290px;
    object-fit: cover;
    object-position: center;
    flex: 1 1;
}

@media screen and (min-width: 350px) and (max-width: 1248px) {
    .feature__about {
        text-align: center;
    }
    .filter__list {
        justify-content: center;
    }
}
@media screen and (min-width: 350px) and (max-width: 537px) {
    .feature__about {
        width: 90%;
        text-align: center;
    }
    .filter__list {
        justify-content: center;
    }
}

/*Team*/
.team {
    max-width: 1249px;
    margin: 0 auto;
    padding: 0 1vw;
    padding-top: 65px;
    padding-bottom: 53px;
    text-align: left;
}

.team__header {
    margin-bottom: 67px;
}

.team__heading {
    font-family: 'Open Sans';
    font-size: 42px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 35px;
    text-transform: uppercase;
}

.team__about {
    font-family: 'Open Sans';
    font-size: 16px;
    max-width: 450px;
    margin: 0;
    margin-bottom: 39px;
}

.team__members {
    display: flex;
    flex-wrap: wrap;
    display: grid; /*можно про grid поместить в supports*/
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    justify-content: space-between;
    align-items: end;
    column-gap: 2vw;
}

.team__lead-photo {
    flex-shrink: 0;
    object-position: bottom;
    object-fit: contain;
    background-color: #ff3f40;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.team__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    display: contents;
}

@supports (display: contents) {
    .team__inner {
        display: contents;
    }
}

.team__lead-main {
    max-width: 631px;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    align-self: center;
}

.team__lead-name {
    display: block;
    font-family: 'Open Sans';
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 30px;
}

.team__lead-about {
    font-family: 'Open Sans';
    font-size: 16px;
    margin: 0;
    margin-bottom: 30px;
}

.team__lead-social {
    display: flex;
    flex-wrap: wrap;
    gap: 34px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.team__lead-link {
    color: #000;
    font-family: 'Open Sans';
    font-size: 18px;
    font-style: italic;
    line-height: 24px;
    text-decoration: none;
}

.team__lead-link:hover {
    text-decoration: underline;
}

.team__others {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    grid-column: 2 / 3;
    grid-row: 2 /3;
    align-items: center;
}

.team__other {
    position: relative;
}

.team__other-photo {
    display: block;
    background-color: #ff3f40;
}

.team__other-name {
    display: none;
    color: #fff;
    font-family: 'Open Sans';
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 10px 0;
}

.team__other:hover > .team__other-name {
    display: block;
}

@media screen and (min-width: 350px) and (max-width: 450px) {
    .team__about {
        width: 90%;
        
    }
    
}

@media screen and (max-width: 800px) {
    .team__members {
        grid-template-columns: 100%;
        grid-template-rows: auto;
    }
    .team__lead-photo {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        margin-bottom: 18px;
    }

    .team__lead-main {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        
    }
    .team__others {
        justify-content: center;
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }

    .team {
        text-align: center;
    }
    .team__lead-social {
        justify-content: center;
    }
}

/*Subscribe*/
.subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1249px;
    margin: 0 auto;
    padding: 0 1vw;
    padding-top: 150px;
    padding-bottom: 140px;
}

.subscribe__heading {
    color: #fff;
    font-family: 'Open Sans';
    font-size: 42px;
    font-weight: 700;
    line-height: 1.2;
    margin: 0;
    margin-bottom: 17px;
    text-align: center;
}

.subscribe__about {
    color: #fff;
    font-family: 'Open Sans';
    font-size: 16px;
    line-height: 28px;
    margin: 0;
    margin-bottom: 60px;
}

.subscribe__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 22px;
}

.subscribe__input {
    width: 521px;
    min-height: 79px;
    padding: 0 36px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
}

.subscribe__button {
    color: #fff;
    font-family: 'Open Sans';
    font-size: 18px;
    font-weight: 700;
    line-height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 214px;
    height: 79px;
    border: none;
    border-radius: 5px;
    background-color: #FF2D2D;
    text-transform: uppercase;
}

@media screen and (max-width: 800px) {
    .subscribe__input {
        width: 90%;
        padding: 0 1vw;
    }
}

/*Feedback*/
.feedback {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 1vw;
    padding-top: 104px;
    padding-bottom: 107px;
    /*text-align: left;*/

}

.feedback__header {
    /*max-width: 1249px;*/
    /*margin: 0 auto;*/
    margin-bottom: 77px;
    /*margin-left: 25px;*/
    /*padding: 0 1vw;*/
    /*box-sizing: border-box;*/
    display: grid;
    grid-template-columns: 1fr 731px 107px 411px 1fr;
    grid-template-rows: auto;
    gap: 25px;
}
.feedback__header_flex {
    grid-column: 2 / 3;
    width: 731px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 107px;
}

.feedback__heading {
    /*max-width: 1249px;*/
    font-family: 'Open Sans';
    font-size: 42px;
    font-weight: 700;
    /*margin: 0 auto;*/
    margin-bottom: 35px;
    text-transform: uppercase;
    /*padding: 0 1vw;*/
    /*box-sizing: border-box;*/
    /*grid-column: 2 / 3;*/
}

.feedback__about {
    /*max-width: 752px;*/
    font-family: 'Open Sans';
    font-size: 16px;
    line-height: 1.75;
    /*width: 450px;*/
    /*margin: 0;*/
    margin-bottom: 50px;
    /*padding: 0 1vw;*/
    /*grid-column: 2 / 3;*/
   
}

.feedback__body {
    display: flex;
    /*justify-content: center;*/
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: 1fr 731px 107px 411px 1fr;
    grid-template-rows: auto;
}

.feedback__body::after {
    content: '';
    background-color: #2D2D2D;
    grid-column: 5 / 6;
}

.feedback__form {
    width: 731px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 107px;
    grid-column: 2 / 3;
}

.feedback__form input::placeholder,
.feedback__form textarea::placeholder {
    color: #000;
    font-family: 'Open Sans';
    font-size: 16px;
}

.feedback__name {
    box-sizing: border-box;
    width: 339px;
    height: 69px;
    background-color: rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 5px;
    padding-left: 53px;
    padding-right: 53px;
    margin-right: 53px;
    margin-bottom: 44px;
    font-family: 'Open Sans';
    font-size: 16px;
}

.feedback__email {
    box-sizing: border-box;
    width: 334px;
    height: 69px;
    background-color: rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 5px;
    padding-left: 48px;
    padding-right: 48px;
    margin-bottom: 44px;
    font-family: 'Open Sans';
    font-size: 16px;
}

.feedback__button {
    width: 728px;
    height: 72px;
    border: none;
    border-radius: 5px;
    background-color: #FF3B2B;
    font-family: 'Open Sans';
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}

.feedback__textarea {
    box-sizing: border-box;
    resize: none;
    width: 731px;
    height: 239px;
    margin-bottom: 45px;
    padding: 31px 51px;
    background-color: rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 5px;
    font-family: 'Open Sans';
    font-size: 16px;
}

.feedback__contacts {
    color: #fff;
    background-color: rgba(45, 45, 45, 1);
    margin-left: 2vw;
    grid-column: 4 / 5;
    }

.contacts {
    width: 315px;
    padding: 141px 17px 141px 81px;
}

.contacts__heading {
    text-transform: uppercase;
    font-family: 'Open Sans';
    font-size: 18px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 30px;
}

.contacts__address {
    font-family: 'Open Sans';
    font-size: 18px;
    line-height: 1.75;
    margin: 0;
    margin-bottom: 27px;
}

.contacts__email {
    display: block;
    color: #fff;
    font-family: 'Open Sans';
    font-size: 16px;
    line-height: 1.75;
    margin: 0;
    margin-bottom: 27px;
}

.contacts__tel {
    display: block;
    color: #fff;
    font-family: 'Open Sans';
    font-size: 16px;
    line-height: 1.75;
    margin: 0;
}

@media (max-width: 1400px) {
    .feedback__body {
        /*padding: 0 1vw;*/
        grid-template-columns: 1fr 731px 17px 411px 1fr;
    }
    .feedback__header {
        grid-template-columns: 1fr 731px 17px 411px 1fr;
    }
}

@media screen and (max-width: 1248px) {
    .feedback__body, .feedback__header {
        grid-template-columns: 1fr auto 1fr;
        /*gap: 107px;*/
    }
    .feedback__header_flex {
        width: 100%;
        grid-column: 2 / 3;
        max-width: 1045px;
        margin-right: initial;
    }
    .feedback__heading {
        width: 100%;
    }
    .feedback__about {
        width: 100%;
    }
    .feedback__body::after {
        content: none;
    }
    .feedback__form {
        width: 100%;
        grid-column: 2 / 3;
        margin-right: initial;
    }
    .feedback__name {
        width: 100%;
        margin-right: initial;
    }
    .feedback__email{
        width: 100%;
    }
    .feedback__textarea{
        width: 100%;
    }
    .feedback__button{
        width: 100%;
    }
    .feedback__contacts {
        grid-column: 2 /3;
        margin: 0;
    }
    .contacts {
        width: 100%;
        padding: 1vw;
        box-sizing: border-box;
    }
}

@media screen and (max-width: 5000px) {
    .feedback__body {
        gap: 25px;
    }
}

/*Footer*/
.page__inner_dark-2 {
    background-color: #313030;
    padding: 0 1vw;
}

.footer {
    max-width: 1249px;
    /*min-height: 111px;*/
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 52px 0px 33px;
}

.footer__copyright {
    margin: 0;
    color: #B8B8B8;
}

.social {
    display: flex;
    gap: 18px;
}

/*JS*/
.hide {
    display: none;
}